*.class

# Package Files #
*.jar
*.war
*.ear
Code/Bio-Inspired Algorithms/.metadata/.lock
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Code/Bio-Inspired Algorithms/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Code/Bio-Inspired Algorithms/.metadata/version.ini
